//Use the params to define reference files, directories, and CLI options
params {

    // Reads and references
    subset_reads = "${projectDir}/subset_samplesheet.csv"
    full_reads = "${projectDir}/full_samplesheet.csv"

    genome = "/projectnb/bf528/materials/project-2-rnaseq/refs/GRCh38.primary_assembly.genome.fa"
    gtf = "/projectnb/bf528/materials/project-2-rnaseq/refs/gencode.v45.primary_assembly.annotation.gtf"

}

profiles {

    // When you invoke multiple options (e.g. -profile conda,cluster) - all of the options are
    // automatically applied by nextflow

    // When you invoke -profile conda - nextflow automatically applies these options
    conda {
        conda.enabled = true
    }
    // When you invoke -profile singularity - nextflow automatically applies these options
    singularity {
        singularity.enabled = true
        singularity.autoMounts = true
    }
    // When you invoke -profile cluster - nextflow automatically applies these options
    cluster {
        process {
                executor = 'sge'
                clusterOptions = '-P bf528'
                penv = 'omp'

                withLabel: process_single {
                    cpus = 1
                }

                withLabel: process_low {
                    cpus = 4

                }
                withLabel: process_medium {
                    cpus = 8
                }
                
                withLabel: process_high {
                    cpus = 16
                }
        }
    }

    local {
        process.executor = 'local'
    }
}

//Change the queueSize to enable more parallel jobs (remember the SCC is a shared resource)
executor {
    $sge {
        queueSize = 20
    }
    $local {
        cpus = 1
    }
}

//Miscellaneous CLI flags
resume = true